<!-- Section: Contact v.1 -->
<!--<section class="my-5">

   Section heading 
  <h2 class="h1-responsive  text-center my-5 font-body">Contactános</h2>
  Section description 
  <h3 class="font-body text-center w-responsive mx-auto pb-5">Envianos un comentario en el caso de querer información acerca de nuestros productos... ¿dudas?... ¿sugerencias?, por favor contáctanos,
    estamos para escucharte.</h3>

   Grid row 
  <div class="row">

  Grid column
    <div class="col-lg-5 mb-lg-0 mb-4" style="margin-left: 50px;">
       Form with header
      <form [formGroup]="contactForm" (ngSubmit)="saveProduct(contactForm.value)">
          <div class="wrap-input100 validate-input" style="max-width: 750px;">
            <input formControlName="nombre"   class="input100" type="text"  [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" placeholder="Nombre completo">
            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
              <div *ngIf="f.nombre.errors.required">Es requerido llenar el nombre</div>
            </div>
					</div>

					<div class="wrap-input100 validate-input" style="max-width: 750px;">
            <input formControlName="correo"  class="input100" type="text" [ngClass]="{ 'is-invalid': submitted && f.correo.errors }" placeholder="Correo">
            <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
              <div *ngIf="f.correo.errors.required">Es requerido llenar el correo</div>
           </div>
          </div>

          <div class="wrap-input100 validate-input" style="max-width: 750px;">
						<select class="select100"  formControlName="municipio" [ngClass]="{ 'is-invalid': submitted && f.municipio.errors }" placeholder="Municipio" style="flex-basis: auto">
              <option *ngFor="let municipio of municipios" [value]="municipio"  selected>{{municipio}}</option>
            </select>
            <div *ngIf="submitted && f.municipio.errors" class="invalid-feedback">
              <div *ngIf="f.municipio.errors.required">Es requerido llenar el Municipio</div>
          </div>
          </div>

          <div class="wrap-input100 validate-input" style="max-width: 750px;">
						<select class="select100" formControlName="estado"  [ngClass]="{ 'is-invalid': submitted && f.estado.errors }" placeholder="Estado">
              <option *ngFor="let estado of estados" [value]="estado"  selected>{{estado}}</option>
            </select>
            <div *ngIf="submitted && f.estado.errors" class="invalid-feedback">
              <div *ngIf="f.estado.errors.required">Es requerido llenar el Estado</div>
          </div>
          </div>

          <div class="wrap-input100 validate-input"style="max-width: 750px;">
						<input class="input100" type="text" formControlName="cp"  [ngClass]="{ 'is-invalid': submitted && f.cp.errors }"  placeholder="Codigo postal">
            <div *ngIf="submitted && f.cp.errors" class="invalid-feedback">
              <div *ngIf="f.cp.errors.required">Es requerido llenar el Código postal</div>
            </div>
          </div>

          <div class="wrap-input100 validate-input" style="max-width: 750px;">
						<select class="select100" type="text" formControlName="requestType" placeholder="Tipo de ayuda">
              <option *ngFor="let requestType of requestTypes" [value]="requestType" selected>{{requestType}}</option>
            </select>
            <div *ngIf="submitted && f.requestType.errors" class="invalid-feedback">
              <div *ngIf="f.requestType.errors.required">Es requerido llenar el tipo de contacto</div>
            </div>
					</div>

					<div class="wrap-input100 validate-input" style="max-width: 750px;">
						<textarea class="input100" formControlName="mensaje" [ngClass]="{ 'is-invalid': submitted && f.mensaje.errors }" placeholder="Escribe tu mensaje"></textarea>
            <div *ngIf="submitted && f.mensaje.errors" class="invalid-feedback">
              <div *ngIf="f.mensaje.errors.required">Es requerido llenar el Mensaje</div>
            </div>
					</div>

          <div class="row">
            <br />
                <div class="form-check" style="margin-left: 75px;">
                  <mdb-checkbox formControlName="acceptTerm" class="form-check-input"  [ngClass]="{ 'is-invalid': submitted && f.acceptTerm.errors }"></mdb-checkbox>
                  <label class="form-check-label" for="exampleCheck1">Acepta nuestros términos y condiciones.</label>
                    <div *ngIf="submitted && f.acceptTerm.errors" class="invalid-feedback">
                      <div *ngIf="f.acceptTerm.errors.required">Necesitas aceptar los términos y condiciones.</div>
                    </div>
                </div>
          </div>
          <br />
          <br />
					<div class="wrap-input100 validate-input">
            <center>
              <button class="contact100-form-btn" type="reset" (click)="onReset()" style="width:50%;">
                Cancelar
              </button>
            </center>
          </div>
          <div class="wrap-input100 validate-input">
            <center>
              <button class="contact100-form-btn" type="submit" style="width:50%; margin-top: 10px;">
                Enviar
              </button>
            </center>
					</div>
        </form>
      Form with header
    </div>
    Grid column 
    <div class="col-lg-6">

     Google map
      <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3774.751194088798!2d-96.94993968468846!3d18.898115862449597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c4e557c8872711%3A0x6c38a45d6d90ddaa!2sAgroKrebs!5e0!3m2!1ses-419!2smx!4v1600700595352!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
        </iframe>
      </div>
     Buttons
      <div class="row text-center">
      <h3 class="font-body">Conoce nuestra ubicación.</h3>
      </div>

    </div>
     Grid column 

  </div>
  Grid row

</section>
 Section: Contact v.1 -->
  <!-- Header -->
    <div class="main-content">
        
      <!-- Header -->
      <div class="header bg-primary py-7 py-lg-8" style="background-color: #0a8c2b !important;">
        <div class="container">
          <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
              <div class="col-lg-5 col-md-6">
                <h1 class="text-white" style="font-size:38px; color:#fff;">Bienvenido!</h1>
                <p class="text-lead text-light" style="font-size:22px; color:#fff;">Envianos un comentario en el caso de querer información acerca de nuestros productos, por favor contáctanos,
                  estamos para escucharte.</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <!-- Page content -->
      <div class="container mt--8 pb-5">
        <!-- Table -->
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-6" style="margin-left: 800px;">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-transparent pb-5">
                <div class="text-muted text-center mt-2 mb-4">Por favor llena el formulario si necesitas asesoria acerca de nosotros.</div>
                <div class="text-center">
                  <!--<a href="#" class="btn btn-neutral btn-icon mr-4">
                    <span class="btn-inner--icon"><img src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/img/icons/common/github.svg"></span>
                    <span class="btn-inner--text">Github</span>
                  </a>-->
                 <!--<a href="#" class="btn btn-neutral btn-icon">
                    <span class="btn-inner--icon"><img src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/img/icons/common/google.svg"></span>
                    <span class="btn-inner--text">Google</span>
                  </a>-->
                </div>
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <small>AGROKREBS</small>
                </div>
                <form role="form">
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"></span>
                      </div>
                      <input class="form-control" placeholder="Nombre" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"></span>
                      </div>
                      <input class="form-control" placeholder="Correo" type="email">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"></span>
                      </div>
                      <input class="form-control" placeholder="Municipio" type="password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"></span>
                      </div>
                      <input class="form-control" placeholder="Estado" type="password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"></span>
                      </div>
                      <input class="form-control" placeholder="Codigo postal" type="password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"></span>
                      </div>
                      <input class="form-control" placeholder="Tipo de ayuda" type="password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"></span>
                      </div>
                      <input class="form-control" placeholder="Mensaje" type="password">
                    </div>
                  </div>
                  
                  <div class="text-muted font-italic"><small>Debes aceptar los términos de<span class="text-success font-weight-700">&nbsp;privacidad</span></small></div>
                  <div class="row my-4">
                    <div class="col-12">
                      <div class="custom-control custom-control-alternative custom-checkbox">
                        <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                        <label class="custom-control-label" for="customCheckRegister">
                          <span class="text-muted">Estoy deacuerdo con los<a href="#!">&nbsp;términos de privacidad</a></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="button" class="btn btn-success mt-4" style="background: #089d27 !important;">Enviar comentarios</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="section section-lg section-shaped">
      <div class="header bg-primary py-7 py-lg-8" style="background-color: #0a8c2b !important;">
        <div class="container">
          <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
              <div class="col-lg-5 col-md-6">
                  <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height:900px; width: 900px;margin-left: 150px;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3774.751194088798!2d-96.94993968468846!3d18.898115862449597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c4e557c8872711%3A0x6c38a45d6d90ddaa!2sAgroKrebs!5e0!3m2!1ses-419!2smx!4v1600700595352!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
                    </iframe>
                  </div>
                  <div class="row text-center">
                    <h3 class="font-body" style="color:#fff">Conoce nuestra ubicación.</h3>
                    </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
