
<section class="section section-lg section-hero section-shaped">
  <!-- Background circles -->
  <div class="shape shape-style-1 shape-primary">
    <span class="span-150"></span>
    <span class="span-50"></span>
    <span class="span-50"></span>
    <span class="span-75"></span>
    <span class="span-100"></span>
    <span class="span-75"></span>
    <span class="span-50"></span>
    <span class="span-100"></span>
    <span class="span-50"></span>
    <span class="span-100"></span>
  </div>
  <div class="container shape-container d-flex align-items-center py-lg">
    <div class="col px-0">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 text-center">
          <img src="https://firebasestorage.googleapis.com/v0/b/agrokrebstesting.appspot.com/o/LOGO%20AGROKREBS.png?alt=media&token=180a7833-9bb1-4b7c-861d-b902770e5aa1" style="width: 200px;" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
<div style="margin-top: 65px;" class="container">
  <div class="container">
    <div class="row">
      <div class="col-sm-6" style="text-align: left;">
        <h2>¿Qué es Agro Krebs?</h2>
        <p class="text-justify">Es una empresa 100% mexicana dedicada al desarrollo y comercialización de nutrientes activado enfocados a mejorar la calidad de las cosechas y aumentar la productividad en el agro mexicano.</p>
        <p>Es una empresa responsable con el medio ambiente ya que la elaboración de sus productos se realiza con sumo cuidado, permitiendo a su vez un control de calidad para que sus productos sean de primera, sus materiales son 100% biodegradables.</p>
        <p>Agro Krebs se encuentra innovando con productos eficientes para el campo de manera responsable para satisfacer las necesidades de nuestros clientes sin comprometer los recursos naturales y hacer conciencia para las siguientes generaciones.</p>
      </div>
      <div class="col-sm-6">
        <h3>Misión</h3>
        <p class="text-justify">Buscar establecer estrategias de negocios que nos permitan cada día estar más cerca de nuestros clientes con el objetivo de mantener una relación comercial que brinde certeza claridad y confianza en cada procedimiento y ofrecerles el mejor resultado posible en la necesidad que nos plateen.</p>
        <h3>Visión</h3>
        <p class="text-justify">Lograr la completa satisfacción de nuestros socios comerciales, brindándoles productos de la más alta calidad, siempre basados en la preservación del medio ambiente.</p>
      </div>
    </div>
  </div>
</div>
