<div>
  <h2 style="font-size: 45px;"><span>Galeria Agro Krebs</span></h2>
</div>
  <ul>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/a1.png" alt="A Toyota Previa covered in graffiti" loading="lazy" style="transition: filter 0.5s;">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/a2.png" alt="Interesting living room light through a window" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/a3.png" alt="Sara on a red bike" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/a4.png" alt="XOXO venue in between talks" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/a5.png" alt="Trees lit by green light during dusk" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/a6.png" alt="Portrait of Justin Pervorse" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/a7.png" alt="Empty bike racks outside a hotel" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/a8.png" alt="Heavy rain on an intersection" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/a9.png" alt="Payam Rajabi eating peanut chicken" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/a10.png" alt="Portland skyline sunset" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/b1.png" alt="Interior at Nong's" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/b2.png" alt="A kimchi hotdog on a plate" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/b3.png" alt="Restaurant window with graffiti saying 'water'" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/b4.png" alt="Portrait of Jeremy Tanner" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/b5.png" alt="Jordan, Sarah and Sara on red bikes, waiting" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/b6.png" alt="Barista wearing a hoodie saying 'Coffee Should Be Dope.'" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/b7.png" alt="Payam crossing the street on a bike" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/b8.png" alt="Lit trees reflected in a puddle" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/b9.png" alt="Moody chair in my hotel room" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/b10.png" alt="Tom and Jenn wearing sunglasses" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/c1.png" alt="Jordan and Sarah in front of a restaurant window" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/c2.png" alt="Sarah reading the Double Dragon drink menu" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/c3.png" alt="Beer brewing equipment" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/c4.png" alt="2 cocktails in the making" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/c5.png" alt="Beverage fridge at Nong's" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/c6.png" alt="Wood structure reflections" loading="lazy">
    </li>
    <li class="geeks">
      <img src="https://storage.googleapis.com/bucket_files_agro/img_g/c7.png" alt="Colorful garden equipment in a shop window" loading="lazy">
    </li>
    <!--  Adding an empty <li> here so the final photo doesn't stretch like crazy. Try removing it and see what happens!  -->
    <li></li>
  </ul>
