
<input type="image" src="{{imgClass}}" (click)="open(mymodal)" width="{{widthInput}}" height="{{heightInput}}">

<ng-template #mymodal let-modal >
    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
      <iframe class="embed-responsive-item" [src]="trustedDashboardUrl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center flex-column flex-md-row">
      <span class="mr-4">Siguenos!</span>
      <div>
        <a type="button" class="btn-floating btn-sm btn-fb" target="_blank" href="https://www.facebook.com/agrokrebs/?__tn__=kC-R&eid=ARC5UYVddxpQrjC1Z81j7Kf73AQ0GWpD-YnkSV0ZpzD_lAMpFyeCRad4Sh9H3FI8JH4CVIMPjZaPCZkd&hc_ref=ARQrZNsqy9TZA2cf5lAKgo1Vxjf50HPnhC8sA0AVN_TdP71MAskfujVAwZf6nSQaRms&__xts__[0]=68.ARAwblgDgrA8y_h5cadBPRpD1BPBvL61DClmWCURP-teReid4KJ4TKYb48TCWAmsL5HZcGX6n_JM3WbJk7ScoZiGsEkTTP1kYws1u_QyIxvABkcS_iltnbWvJUEj0dXcDnFjikaUY_43sDb1-xr_sHKgJi8v8-jFfX-KAKl0WnTSKCf1N0I1UMrT1KKIN0bZWJeVmuYu2eSj_yPFEfd4E82z4MJkuAnV5W267TfHDuHnXsG_wzRV8Q9UyUSTowVgo_LjfSq73b5fF8Ivfabk_YHP3lrrQbMpy_8UPVwE3qWhwUoiR6p8xjALUxUApmwSzBpoPSBy_aK43UYsm8dHFUA">
          <i class="fab fa-facebook-f"></i>
        </a>
        <!--Twitter-->
        <a type="button" class="btn-floating btn-sm btn-tw" target="_blank" href="https://twitter.com/agrokrebs">
          <i class="fab fa-twitter"></i>
        </a>
        <!--Linkedin-->
        <a type="button" class="btn-floating btn-sm btn-ins" target="_blank" href="https://www.instagram.com/agro_krebs/">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
    </div>

</ng-template>
