<section class="section section-lg section-hero section-shaped">
  <!-- Background circles -->
  <div class="shape shape-style-1 shape-default">
    <span class="span-100"></span>
    <span class="span-150"></span>
    <span class="span-50"></span>
    <span class="span-100"></span>
    <span class="span-100"></span>
    <span class="span-50"></span>
    <span class="span-100"></span>
    <span class="span-50"></span>
    <span class="span-75"></span>
    <span class="span-100"></span>
    <span class="span-75"></span>
    <span class="span-50"></span>
    <span class="span-100"></span>
    <span class="span-50"></span>
    <span class="span-100"></span>
  </div>
  <div class="container shape-container d-flex align-items-center py-lg">
      <div class="col px-0">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-12 text-center">
              <h2 style="color:#fff; font-size: 68px;">CULTIVOS</h2>
              <h4 class="font-weight-light text-center text-lg-left mt-4 mb-0" style="color:#fff; font-size:35px;">
                Se muestras los plantíos en los cuales  se ha realizado una entrevista sobre el manejo del cultivo para 
                fomentar el conocimiento sobre este.
              </h4>
              <!--<h1 class="font-weight-light text-center text-lg-left mt-4 mb-0"></h1>-->
          </div>
        </div>
      </div>
    </div>
  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 1060 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2360 10 1060 300 110 100"></polygon>
    </svg>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <app-modal-video [srcClass]= "'banano'"></app-modal-video>
    </div>
    <div class="col-sm-6">
        <app-modal-video [srcClass]= "'cafe'"></app-modal-video>
    </div>
    <div class="col-sm-6">
        <app-modal-video [srcClass]= "'papaya'"></app-modal-video>
    </div>
    <div class="col-sm-6">
        <app-modal-video [srcClass]= "'citricos'"></app-modal-video>
    </div>
  </div>
</div>
<br />
<br />
<div class="container">
  <div class="item">
    <h2 style="text-align: center;">Eficiencia de nuestros productos</h2>
    <p style="text-align: center;">En el siguiente material se muestra los resultados de nuestros productos en diferentes cultivos.</p>

  </div>
</div>
<br />
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <app-modal-video [srcClass]= "'vivero'"></app-modal-video>
    </div>
    <div class="col-sm-6">
      <app-modal-video [srcClass]= "'green'"></app-modal-video>
    </div>
  </div>
</div>
<br />
<div class="container">
  <div class="col-sm-12">
    <p style="text-align: center;">Encuentra más videos en nuestro canal de YouTube</p>
  </div>
  <div class="col-sm-12">
    <a class="btn btn-danger" style="color:#fff;margin-left:420px;background-color:#ea0a0a;border-color:#e11a05;" href="https://www.youtube.com/channel/UCCJz3muYtWrVTFZsfvcl5XA" target="_blank">
      <i class="fa fa-youtube"></i>&nbsp;AgroKrebs</a>
  </div>
  <hr>
  <br />
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <app-modal-video [srcClass]= "'agricultura'" style="margin-left: 420px;"></app-modal-video>
    </div>
  </div>
</div>

