<div style="margin-top: 65px;" class="container">
  <div class="item">
      <div class="col">
        <h2><p align="left">Cultivos</p></h2>
        <h4><p align="left">Se muestras los plantíos en los cuales  se ha realizado una entrevista sobre el manejo del cultivo, para fomentar el conocimiento sobre este.</p></h4>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <app-modal-video [srcClass]= "'banano'"></app-modal-video>
    </div>
    <div class="col-sm">
      <app-modal-video [srcClass]= "'cafe'"></app-modal-video>
    </div>
    <div class="col-sm">
      <app-modal-video [srcClass]= "'papaya'"></app-modal-video>
    </div>
    <div class="col-sm">
      <app-modal-video [srcClass]= "'citricos'"></app-modal-video>
    </div>
  </div>
</div>
<div class="container">
  <div class="item">
    <h2><p align="left">Eficiencia de nuestros productos</p></h2>
    <h4><p align="left">En el siguiente material se muestra los resultados de nuestros productos en diferentes cultivos.</p></h4>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <app-modal-video [srcClass]= "'vivero'"></app-modal-video>
    </div>
    <div class="col-sm">
      <app-modal-video [srcClass]= "'green'"></app-modal-video>
    </div>
  </div>
</div>
<br />
<div class="container">
  <div class="item">
    <h1><p align="left">Encuentra más videos en nuestro canal de YouTube</p></h1>
    <button>AgroKrebs</button>
  </div>
  <br />
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <app-modal-video [srcClass]= "'agricultura'"></app-modal-video>
    </div>
  </div>
</div>

